doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= title
    link(rel="stylesheet", href="/stylesheets/swiper-4.1.0.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/kinerLottery.css")
    link(rel="stylesheet", href="/stylesheets/new.css")
    script(src="/javascripts/zepto.min.js")

  body
    block content

    