doctype html
html(lang="zh-CN")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title 用户抽奖页面
    link(rel="stylesheet", href="/stylesheets/kinerLottery.css")
    script(src="/javascripts/zepto.min.js")

    

  body
    block content