extends layout1
block content
    div.user-read
        p 感谢您参与活动
        div#blank
        div#blank
        p 不能重复抽奖
        div#blank
        div#blank
        div#blank
        div#blank
        p 阅读更多#[a(href="https://mp.weixin.qq.com/mp/homepage?__biz=MzI3Mjk3MjIzMA==&hid=2&sn=6114ff3fd8d6a58095e8771721b3299c&scene=18") 水利相关资讯]<<请戳。